---
- hosts: localhost
  tasks:
    - name: Pull Docker image
      docker_image:
        name: prathvirajbn/calcapp
        tag: latest
        source: pull

    - name: Create Docker container
      shell: "sudo docker run -d -p 4001:3000 prathvirajbn/calcapp"
